/angular2-seed-final/node_modules
/angular2-templates/node_modules
/angular2-forms/node_modules
/angular2-reactivex/node_modules
/angular2-http/node_modules
/angular2-routes/node_modules
/angular2-final-project/node_modules