<form #f="ngForm" (ngSubmit)="onSubmit(f.form)" >
	<!-- Zen Coding -->

<div class="form-group">
	<label for="firstName">First Name</label>
	<input 
		ngModel 
		required 
		name="firstName" 
		#firstName="ngModel" 
		id="firstName" 
		type="text" 
		class="form-control"
		minlength="3">
	<div *ngIf="firstName.touched && firstName.errors">
		{{ firstName.errors | json }}
		<div 
			class="alert alert-danger" 
			*ngIf="firstName.errors.required"
			>
			First name is required.
		</div>
		<div 
			class="alert alert-danger"
			*ngIf="firstName.errors.minlength"
			>
			First name should be minimum {{ firstName.errors.minlength.requiredLength }} characters.
		</div>
	</div>
	
</div>

<div class="form-group">
    <label for="comment">Comment</label>
    <textarea 
    	ngModel 
    	required 
    	name="comment" 
    	id="comment" 
    	cols="30" 
    	rows="10" 
    	class="form-control" 
    	#comment="ngModel">
    	</textarea>
    <div 
    	class="alaert alert-danger" 
    	*ngIf="comment.touched && !comment.valid"
    	>Comment is required.</div>
</div>

<button 
	class="btn btn-primary" 
	type="submit"
	[disabled]="!f.valid"
	>Submit</button>							

</form>